@import url("https://fonts.googleapis.com/css?family=Kadwa:400,700|Roboto:300,400,700");
.productwrap {
  width: 78%;
  float: right;
  background: rgba(245, 243, 243, 0.27);
  min-height: 800px;
  padding: 2em;
}

.mainTit {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}

.divider {
  margin: 0 5px;
}

@media (max-width: 475px) {
  .dividernodisplay {
    display: none;
  }
}

.button {
  border: 0;
  border-radius: 50px;
  padding: 7px 20px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:hover {
  cursor: pointer;
}

.btnBig {
  border: 0;
  border-radius: 0;
  padding: 7px 20px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnBig:hover {
  cursor: pointer;
}

.btn {
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  border: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btnGreen {
  background-color: #49a462;
  margin: 2px 2px;
  color: #fff;
}

.btnGreen:hover, .btnGreen:active, .btnGreen:focus {
  background-color: #5cc87a;
  color: #fff;
}

.btnBlue {
  background-color: #4c7eb9;
  margin: 2px 2px;
  color: #fff;
}

.btnBlue:hover, .btnBlue:active, .btnBlue:focus {
  background-color: #82a2c9;
  color: #fff;
}

.btnRed {
  background-color: #cf5653;
  margin: 2px 2px;
  color: #fff;
}

.btnRed:hover, .btnRed:active, .btnRed:focus {
  background-color: #cd7371;
  color: #fff;
}

.btnYellow {
  background-color: #c4c746;
  margin: 2px 2px;
  color: #fff;
}

.btnYellow:hover, .btnYellow:active, .btnYellow:focus {
  background-color: #cbcd6f;
  color: #fff;
}

.ButtonLogin {
  border: 0;
  margin-top: 8px;
}

.categorySelectBtn {
  padding: 10px 30px;
}

.btnGrey {
  background-color: #d6d6d6;
  color: #000;
}

.btnGrey:hover, .btnGrey:active, .btnGrey:focus {
  background-color: #a4a4a4;
  color: #fff;
}

.btnRightMobCent {
  text-align: right;
}

@media (max-width: 765px) {
  .btnRightMobCent {
    text-align: center;
  }
}

.smallBtn {
  padding: 1px 10px;
}

.btnHollow {
  padding: 10px 15px;
  border: 2px solid white;
  font-size: 1.5rem;
  background-color: transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnHollow:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.btnHollowB {
  padding: 15px 25px;
  border: 2px solid #eb5757;
  font-size: 1.3rem;
  background-color: transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #fff;
}

.btnHollowB:hover {
  cursor: pointer;
  background-color: #eb5757;
  color: #fff;
}

.btnHollowRed {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #eb5757;
  font-size: 1.3rem;
  background-color: transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #eb5757;
}

.btnHollowRed:hover {
  cursor: pointer;
  background-color: #eb5757;
  color: #fff;
}

.btnHollowSmall {
  border: 1px solid black;
  padding: 4px 10px;
  margin-bottom: 5px;
}

.btnHollowSmall a {
  color: black;
}

.btnHollowPortfolio {
  background-color: transparent;
  border: 1px solid #393944;
  color: #393944;
  position: relative;
}

.btnHollowPortfolio i {
  position: absolute;
  color: #393944;
  font-size: 3rem;
  right: -6px;
  top: -1px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnHollowPortfolio:hover {
  background-color: #eb5757;
  border: 0;
  color: #fff;
  padding-right: 55px;
}

.btnHollowPortfolio:hover i {
  color: #eb5757;
  font-size: 5rem;
  right: -23px;
  top: -19px;
}

.tag {
  padding: 4px 14px;
  margin-left: 1px;
  margin-right: 1px;
  line-height: 35px;
  border-radius: 50px;
  white-space: nowrap;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.blue-tag {
  background-color: #476AEA;
  color: #fff;
}

.blue-tag:hover {
  background-color: #4A3FB8;
  cursor: pointer;
}

.red-tag {
  background-color: #D77777;
  color: #fff;
}

.red-tag:hover {
  background-color: #E64646;
  cursor: pointer;
}

.badgeRed {
  background-color: #CA5858;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin-left: 2px;
}

.badgeRed a {
  color: #fff;
}

.badgeRed:hover {
  background-color: #D87575;
  color: #fff;
  cursor: pointer;
}

.badgeRed:hover a {
  color: #fff;
}

.badgeGrey {
  background-color: #F8F8F8;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin-left: 2px;
}

.badgeGrey a {
  color: #fff;
}

.badgeGrey:hover {
  background-color: #D9D9D9;
  cursor: pointer;
}

.badgeGrey:hover a {
  color: #7D7D7D;
}

.sqbadge-red {
  border-radius: 0;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 3px 1px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin-left: 2px;
}

.sqbadge-red a {
  color: #fff;
}

.sqbadge-red:hover {
  background-color: #fff;
}

.sqbadge-red:hover a {
  color: #383838;
}

.vertical-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-list ul li {
  list-style: none;
  display: block;
}

.horizontal-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.horizontal-list ul li {
  display: inline-block;
  list-style: none;
}

.mainContainer {
  margin-top: 20px;
}

.wrapper {
  position: relative;
  height: 100%;
  padding-bottom: 60px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.topDecoration {
  background-image: url(../webimages/home/navback.png);
  background-repeat: repeat-x;
  min-height: 100px;
  z-index: 2;
  position: relative;
}

.topSectionBanner {
  margin-top: -110px;
  height: 100px;
}

.topSectionBanner img {
  min-width: 100%;
  max-width: 100%;
}

.filtersSide {
  padding: 0;
}

.filters {
  background-color: #fff;
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 190px;
}

.filters hr {
  margin: 5px 0;
}

.filters .fa {
  color: #3E3E3E;
  font-size: 10px;
  font-weight: 100;
}

.filterTit {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}

.filterSubTit {
  font-size: 14px;
  font-weight: 300;
}

#filterPrice {
  text-align: center;
}

#filterPrice label {
  font-size: 14px;
  font-weight: 300;
}

#filterPrice input[type=text], #filterPrice select {
  width: 70%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

#filterPrice input[type=submit] {
  width: 70%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 0;
  cursor: pointer;
}

.checkbox-custom:active, .checkbox-custom:focus, .checkbox-custom-label:active, .checkbox-custom-label:focus, .radio-custom:active, .radio-custom:focus, .radio-custom-label:active, .radio-custom-label:focus {
  outline: none;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 1px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #eb5757;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  background: #ccc;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e0726c;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:active:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(5);
}

.transition {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.transition2 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.mainTit {
  color: #fff;
}

@media (max-width: 470px) {
  .mainTit h1 {
    font-size: 20px;
    color: #000;
  }
}

.catTit {
  font-family: "Kadwa", serif;
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
  opacity: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.catSecTxt {
  font-family: "Kadwa", serif;
  font-style: normal;
  font-weight: 300;
}

.catSubtit {
  font-family: "Kadwa", serif;
  font-size: 1em;
  font-weight: 300;
  opacity: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.itembox {
  height: 380px;
  width: 277px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 5px 5px;
  max-width: 100%;
  text-align: center;
}

.itembox img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.itembox .overbox {
  height: 380px;
  width: 277px;
  background-color: rgba(57, 72, 103, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  padding: 25px 20px;
  max-width: 100%;
}

.itembox:hover .overbox {
  opacity: 1;
}

.itembox .overtext {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.itembox:hover .catTit, .itembox:focus .titcatTitle {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.itembox:hover .catSubtit, .itembox:focus .catSubtit {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.catSeeMore {
  padding-top: 100px;
  width: 180px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #ea5050;
  border: 0;
  border-radius: 0 !important;
}

.pagination > li > a, .pagination > li > span {
  color: #383838;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #ea5050;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
}

.shorthr {
  width: 50%;
}

.single-item-category {
  margin-bottom: 5px;
}

.single-item-category .badge {
  font-size: 0.9rem;
}

.single-item {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px;
  position: relative;
  position: relative;
}

.single-item .title {
  font-size: 1rem;
}

.single-item .title-mobile {
  display: none;
}

.single-item .content {
  padding-top: 25px;
  text-align: center;
}

.single-item .content h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.single-item .content span.code {
  font-size: 1.4rem;
  color: #ed7676;
}

.single-item .content .desc {
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-item .content .desc p {
  font-size: 1rem;
  font-style: italic;
  color: #000;
}

.single-item .content .details span.sub-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.single-item .content .sizes .size-circle {
  color: #fff;
  background-color: #ed7676;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
}

.single-item .content .colors .color-circle {
  width: 40px;
  height: 40px;
}

.single-item .article-actions {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 991px) {
  .single-item .title {
    display: none;
    font-style: italic;
    font-size: 1rem;
  }
  .single-item .title-mobile {
    text-align: center;
    display: block;
  }
  .single-item .title-mobile h1 {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 10px;
  }
}

.swiper-slide {
  text-align: center;
  max-height: 600px;
}

.swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-image: none;
  font-size: 2rem;
  opacity: 0;
}

.swiper-container .swiper-scrollbar {
  display: none;
}

.swiper-container:hover .swiper-button-prev, .swiper-container:hover .swiper-button-next {
  opacity: 1;
}

.simple-slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 50px auto;
  border-radius: 4px;
}

.simple-slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.simple-slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  background: transparent;
  text-align: center;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.simple-slider ul li span.icon {
  font-size: 5rem;
  color: #62376b;
}

.simple-slider ul li span.text {
  color: #fff;
}

.simple-slider ul li a {
  color: #fff;
}

@media (max-width: 520px) {
  .simple-slider {
    width: 100% !important;
    text-align: center;
    margin: 5px;
    height: 250px;
  }
  .simple-slider ul li {
    line-height: 80px;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .simple-slider {
    display: none;
  }
}

.mail-error {
  display: none;
}

.mail-success {
  display: none;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 80%;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
  background-color: #F3F3F3;
  color: #383838;
  font-family: "Kadwa", serif;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #bbb7f2;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "Kadwa", serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #BDD9EB;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

.brd {
  border: 1px solid red;
}

.txL {
  text-align: left;
}

.txR {
  text-align: right;
}

.txC {
  text-align: center;
}

.pad0 {
  padding: 0;
}

.mar0 {
  margin: 0;
}

.margTop0 {
  margin-top: 0 !important;
}

.padTop0 {
  padding-top: 0 !important;
}

@media (max-width: 900px) {
  .hideMobile900 {
    display: none !important;
  }
}

.Hidden {
  display: none !important;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

ul {
  padding-left: 0;
}

.navbar-default .navbar-toggle {
  border: 0;
  max-width: 100%;
}

@media (min-width: 765px) {
  .navbar {
    background-color: rgba(57, 57, 68, 0.8);
    border-bottom: 0;
    height: 60px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .navbar .navbar-right {
    margin-right: 15px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .navbar .navbar-right li {
    margin-right: 5px;
  }
  .navbar .navbar-right li a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .navbar .navbar-right li a i {
    font-family: "Kadwa", serif;
    margin-right: 5px;
  }
  .navbar .navbar-nav > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60px;
  }
  .navbar .navbar-nav > li a {
    color: #fff;
    font-size: 1.2rem;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .navbar .navbar-nav > li:active, .navbar .navbar-nav > li:focus {
    color: #000;
  }
  .navbar .navbar-nav > li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .navbar .navbar-nav > li:hover a {
    color: #000;
  }
  .navbar .navbar-brand {
    padding: 12px 12px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .navbar .navbar-brand img {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 150px;
  }
  .navbar.home-nav {
    background-color: transparent;
  }
  .navbar.home-nav .navbar-nav > li a {
    color: #383838;
  }
  .navbar.home-nav .navbar-nav > li:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navbar.home-nav .navbar-nav > li:hover a {
    color: #000;
  }
  .navbar.change-nav {
    background-color: rgba(57, 57, 68, 0.8);
    height: 60px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .navbar.change-nav .navbar-right {
    border-bottom: 0;
  }
  .navbar.change-nav .navbar-nav > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60px;
  }
  .navbar.change-nav .navbar-nav > li a {
    color: #fff;
    font-size: 1.3rem;
  }
  .navbar.change-nav .navbar-nav > li:active, .navbar.change-nav .navbar-nav > li:focus {
    color: #fff;
  }
  .navbar.change-nav .navbar-nav > li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .navbar.change-nav .navbar-nav > li:hover a {
    color: #000;
  }
  .navbar.change-nav .navbar-brand {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .navbar.change-nav .navbar-brand img {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 150px;
  }
}

@media (max-width: 765px) {
  .navbar {
    background-color: rgba(57, 57, 68, 0.8);
    border: 0;
  }
  .navbar .navbar-brand img {
    width: 100px;
  }
  .navbar .navbar-toggle {
    border-radius: 0;
  }
  .navbar .navbar-default .navbar-toggle {
    border-color: #fff;
  }
  .navbar .navbar-toggle .icon-bar {
    background-color: #fff;
  }
}

@media (max-width: 786px) {
  body {
    padding-top: 0;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    border: 0;
  }
  .navbar .navbar-brand img {
    width: 100px;
  }
}

@media (min-width: 765px) {
  .home-intro {
    background-color: #3d4450;
    background-image: url("../../public/webimages/home/back1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 100%;
    overflow: hidden;
    padding-top: 80px;
    position: relative;
    height: 100vh;
  }
  .home-intro .main-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 100px;
    z-index: 5;
    margin-top: 60px;
  }
}

@media (max-width: 765px) {
  .home-intro {
    text-align: center;
    background: url("../../public/webimages/home/back-mobile.jpg") no-repeat center center;
    background-size: cover;
    padding: 80px 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .home-intro img {
    max-width: 100%;
    width: 250px;
    margin-bottom: 50px;
  }
  .home-intro h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 300px) {
  .home-intro {
    padding-top: 100px;
  }
}

.home-section-2 {
  padding: 60px 5px 20px;
  text-align: center;
  color: #505050;
}

.home-section-2 span.text-logo-small {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 15px;
}

.home-section-2 span.text-logo-bold {
  font-size: 3rem;
  font-weight: 700;
}

.home-section-2 h3 {
  color: #a7b3dd;
}

.home-section-2 p {
  font-size: 1.2rem;
  color: #595959;
  font-weight: 300;
}

.home-section-2 .icons {
  margin-top: 30px;
}

@media (max-width: 765px) {
  .home-section-2 .power-icons img {
    width: 75px;
  }
}

@media (max-width: 405px) {
  .home-section-2 .power-icons img {
    width: 45px;
  }
}

.service-item {
  padding: 50px 10px;
}

.our-services {
  padding: 40px 0;
  color: #595959;
  background-color: #fff;
}

.our-services h1 {
  text-align: center;
}

.our-services .service-item .white-back {
  background-color: #fff;
  border-top: 3px solid #d2d2d2;
  box-shadow: -3px 19px 11px -14px rgba(0, 0, 0, 0.4);
  width: auto;
  border-radius: 10px;
  padding: 25px 35px;
}

.our-services .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.our-services .inner object, .our-services .inner img {
  margin: 0 auto;
  max-width: 100%;
}

.our-services .inner span.title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 10px;
}

.our-services .inner span.title i {
  font-size: 2rem;
}

.our-services .inner .text-big h1 {
  line-height: 40px;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
  color: #D77777;
  text-align: left;
}

.our-services .inner .text-big h1.right {
  text-align: right;
}

.our-services .inner .action {
  margin-top: 40px;
}

.our-services .center-item {
  text-align: right;
  background-color: #D77777;
  color: #000;
  padding-left: 0;
  padding-right: 0;
}

.our-works {
  padding: 40px 5px;
  background-color: #393944;
  color: #fff;
  text-align: center;
}

.our-works .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 50px;
  margin: auto;
}

.our-works .inner object, .our-works .inner img {
  max-width: 100%;
}

.our-works .inner span {
  font-size: 4rem;
}

.our-works .inner .btn {
  margin-top: 20px;
  font-size: 1.5rem;
}

.dark-container-top {
  padding: 0;
  padding-top: 60px;
  margin-bottom: 50px;
  background-color: #2D2D36;
  color: #fff;
}

.dark-container-top h2 {
  text-align: center;
}

.container-top {
  padding: 0;
  margin-top: 80px;
  padding-bottom: 50px;
}

.filters .searcher input {
  color: #000;
}

.portfolio-container {
  margin-top: 25px;
}

.portfolio-container .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 25px;
}

.portfolio-container .portfolio-item .inner img {
  max-width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.portfolio-container .portfolio-item .inner img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  cursor: pointer;
}

.portfolio-container .portfolio-item .inner .info {
  padding: 15px;
  background-color: #fff;
  position: relative;
}

.portfolio-container .portfolio-item .inner .info hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.portfolio-container .portfolio-item .inner .info .text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #393944;
  font-weight: 400;
}

.portfolio-container .portfolio-item .inner .info .title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.portfolio-container .portfolio-item .inner .info .cat-title {
  margin-left: 5px;
}

.portfolio-container .portfolio-item .inner .info .cat-text a {
  color: #9D9D9D;
}

.portfolio-container .portfolio-item .inner .info .cat-text a:hover {
  color: #383838;
}

.portfolio-container .portfolio-item .inner .info .tags {
  margin-top: 5px;
}

.portfolio-container .portfolio-item .inner .info .date {
  margin-left: 5px;
  margin-top: 5px;
}

.portfolio-container .portfolio-item .inner .info .date span.text {
  color: #ABABAB;
}

@media (min-width: 765px) {
  .portfolio-filter {
    background-color: #31313A;
    border: 0;
  }
  .portfolio-filter .icons-menu {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  .portfolio-filter .container-fluid, .portfolio-filter .navbar-collapse {
    padding-left: 0;
    padding-right: 15px;
  }
  .portfolio-filter .portfolio-filter-left .title {
    padding: 12px 30px;
    background-color: #3F3F4A;
    color: #fff;
    height: 100%;
  }
  .portfolio-filter .portfolio-filter-left li a {
    padding-left: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .portfolio-filter .portfolio-filter-left li:hover {
    background-color: #3F3F4A;
  }
  .portfolio-filter .portfolio-filter-left li:hover a {
    color: #fff;
  }
  .portfolio-filter .portfolio-filter-left li:focus, .portfolio-filter .portfolio-filter-left li:active {
    background-color: #3F3F4A;
    color: #fff;
  }
  .portfolio-filter .portfolio-filter-left li:focus a, .portfolio-filter .portfolio-filter-left li:active a {
    color: #fff;
  }
  .portfolio-filter .portfolio-filter-left .open > a, .portfolio-filter .portfolio-filter-left .open > a:focus, .portfolio-filter .portfolio-filter-left .open > a:hover {
    background-color: #444450;
    color: #fff;
  }
  .portfolio-filter .portfolio-filter-left .dropdown-items {
    background-color: #31313A;
    border: 0;
    border-radius: 0;
  }
  .portfolio-filter .portfolio-filter-left .dropdown-items .badge {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    margin-right: 5px;
  }
  .portfolio-filter .portfolio-filter-left .dropdown-items li a {
    color: #fff;
  }
  .portfolio-filter .portfolio-filter-left .dropdown-items li:hover {
    background-color: #fff;
    color: #383838;
  }
  .portfolio-filter .portfolio-filter-left .dropdown-items li:hover a {
    color: #383838;
  }
  .portfolio-filter .portfolio-filter-right form input {
    border: 0;
    border-radius: 0;
  }
  .portfolio-filter .portfolio-filter-right .search-btn {
    border-radius: 0;
    color: #383838;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .portfolio-filter .portfolio-filter-right .search-btn:hover {
    background-color: #383838;
    color: #fff;
  }
}

@media (max-width: 765px) {
  .portfolio-filter {
    display: none;
  }
}

.portfolio-filter-mobile {
  display: none;
}

@media (max-width: 765px) {
  .portfolio-filter-mobile {
    display: block;
    position: relative;
    padding: 0;
  }
  .portfolio-filter-mobile .inner-main {
    height: 40px;
    padding-left: 15px;
  }
  .portfolio-filter-mobile .title {
    font-size: 1.5rem;
    color: #fff;
  }
  .portfolio-filter-mobile .filterMobileBtn {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: -5px;
    border-radius: 0;
    padding: 5px 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
  .portfolio-filter-mobile .filterMobileBtn:hover {
    color: #e5e7fc;
  }
  .portfolio-filter-mobile .filter-inner {
    text-align: center;
    background-color: #464657;
    padding: 10px;
  }
  .portfolio-filter-mobile .filter-inner hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #545774;
  }
  .portfolio-filter-mobile .filter-inner .search-input hr {
    margin-top: 20px;
  }
  .portfolio-filter-mobile .filter-inner .search-input input {
    width: 70%;
    float: left;
    margin-right: 5px;
    border-radius: 0;
  }
  .portfolio-filter-mobile .filter-inner .search-input button {
    color: #000;
    border-radius: 0;
  }
  .portfolio-filter-mobile .filter-inner .search-buttons .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .portfolio-filter-mobile .filter-inner .search-buttons .filter-button {
    border-radius: 0;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #000;
    font-size: 1.2rem;
  }
}

.single-item {
  background-color: #fff;
  padding: 25px;
  position: relative;
}

.single-item h1 {
  text-align: center;
  margin-bottom: 25px;
}

.single-item .info {
  width: 100%;
}

.single-item .date {
  position: absolute;
  right: 5px;
  top: 5px;
}

.contact-section {
  background: url("../../public/webimages/home/back1.jpg") no-repeat center center;
  background-size: cover;
  padding: 80px 5px;
}

.contact-section .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.contact-section .inner h1 {
  color: #D77777;
}

.contact-section .inner form {
  color: #000;
  padding: 20px;
}

.contact-section .inner form ::-webkit-input-placeholder {
  color: #383838;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.contact-section .inner form ::-moz-placeholder {
  color: #383838;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.contact-section .inner form ::-ms-input-placeholder {
  color: #383838;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.contact-section .inner form ::-moz-placeholder {
  color: #383838;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.contact-section .inner input {
  height: 50px;
}

.contact-section .inner input, .contact-section .inner textarea {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #000;
  box-shadow: none;
  font-size: 1.5rem;
}

.contact-section .inner input.contactBtn {
  padding: 10px 25px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #fff;
}

.contact-section .inner input.contactBtn:hover {
  background-color: #fff;
  color: #383838;
  box-shadow: -3px 19px 11px -14px rgba(0, 0, 0, 0.4);
}

.contact-section .social-icons {
  text-align: center;
  margin-top: 25px;
}

.contact-section .social-icons .title {
  margin-bottom: 15px;
}

.contact-section .social-icons span {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
}

.contact-section .social-icons img {
  border-radius: 100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.contact-section .social-icons img:hover {
  box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  cursor: pointer;
}

@media (max-width: 765px) {
  .contact-section .social-icons img {
    width: 75px;
  }
}

@media (max-width: 405px) {
  .contact-section .social-icons img {
    width: 45px;
  }
}

footer {
  background-color: #393944;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

footer .footer {
  padding: 20px 10px 40px;
}

footer .footer h2 {
  color: #fff;
}

footer .footer .contact-data span {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

footer .footer .contact-data i {
  color: #E7E7E7;
  font-size: 2.5rem;
}

footer .footer .contact-data span.icon {
  margin-right: 10px;
  width: 50px;
}

footer .footer .social span {
  color: #fff;
}

footer .footer .social #u_0_3 {
  display: none;
}

footer .copyright {
  background-color: #2E2E36;
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
