////////////////////////////////////////
//                                    //
//              COLORS                //
//                                    //
////////////////////////////////////////

$main-red: #D77777
$main-color: #F3F3F3
$color3: #393944
$color3Hover: #58586A

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700)
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,600)


$font1: 'Playfair Display', serif
$f1w1: 400
$f1w2: 700
$font2: 'Work Sans', sans-serif
$f2w1: 300
$f2w2: 400
$f2w3: 600
$fontnavstyle: italic


//////////////////////////////////////
//                                  //
//           COLORS VADMIN          //
//                                  //
//////////////////////////////////////


$ok:      #8DBB61
$okH:     #9FD56B
$cancel:  #D05C5C
$cancelH: #C47777
$other:   #5D76C9
$otherH:  #7689C8
$edit:    #D8BE55
$editH:   #E2CF83

$light: #F2F2F2
$dark:  #393944
$dark2: #40404D
$dark3: #59596C
$dark4: #ababc5

$light1: rgba(223, 221, 231, 0.6)
$red: #C47777