
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700')

// $fv: Verdana, Geneva, Tahoma, sans-serif

$fv: 'Raleway', sans-serif
$fvw1: 300
$fvw2: 400
$fvw3: 700


$font2: 'Raleway', sans-serif
$f2w1: 300
$f2w2: 400
$f2w3: 700
$fontnavstyle: italic


//////////////////////////////////////
//                                  //
//           COLORS VADMIN          //
//                                  //
//////////////////////////////////////


$ok:      #8DBB61
$okH:     #9FD56B
$cancel:  #D05C5C
$cancelH: #C47777
$other:   #5D76C9
$otherH:  #7689C8
$edit:    #dc9f1d
$editH:   #ceaa5f


$greenD:  #8DBB61
$greenL:  #9FD56B

$green:   #95c97f
$greenH:  #95c97f
$blue:    #0091ca
$blueH:   #0091ca
$red:     #f8756b
$redH:    #eb5254
$orange:  #febe64
$orangeH: #fea969
$cream:   #f8fff9
$grey:    #ffd9d9

$light:   #F2F2F2
$dark:    #01354a
$dark2:   #042d41
$dark3:   #00babd
$dark4:   #ababc5

$lightBlue: #24a5d8

$light1: rgba(223, 221, 231, 0.6)
$light2: #ffd9d9
$light3: #fff6f6

$icons: #9f69ff