//////////////////////////////////////
//                                  //
//           BACKGROUNDS            //
//                                  //
//////////////////////////////////////

.blue-back
	background-color: $other

.green-back
	background-color: $edit

.red-back
	background-color: $cancel

.grey-back
	background-color: #f3f3f3
//////////////////////////////////////
//                                  //
//           CONTAINERS             //
//                                  //
//////////////////////////////////////


.big-card
	background-color: #fff
	position: relative
	@include box-shadow
	// .footer-actions
	// 	.right
	// 		padding-right: 15px
	// 	.right-bottom
	// 		position: absolute
	// 		right: 30px
	// 		bottom: 10px
	// 		text-align: right
	// 		.small-text
	// 			font-size: 0.9rem
	.table-responsive
		padding: 0 10px
	.title
		background-color: #ececec
		color: #383838
		padding: 10px
		position: relative
		h2
			margin: 0
			margin-bottom: 4px
		.ml15
			margin-left: 15px
		.small-text 
			font-size: 0.9rem
		.medium-text 
			font-size: 1rem
		.big-text 
			font-size: 1.5rem
			font-weight: 700
		.right
			position: absolute
			right: 10px
			bottom: 10px
		.topright
			position: absolute
			right: 10px
			top: 10px
			.chosen-container
				margin-bottom: 5px
	.subtitle
		margin-top: 15px
		margin-bottom: 10px
		background-color: $light3
		color: #383838
		padding: 2px 5px
	.content
		padding: 15px
		.btnSm
			margin-top: 15px
		.small-table
			td
				padding-right: 15px
		.item-row
			position: relative
			@include transition(0.2s)
			.delete-item
				position: absolute
				opacity: 0
				right: 20px
			&:hover
				cursor: pointer
				background-color: #f3f3f3
				.delete-item
					opacity: 1
					i
						color: #ccc
						&:hover
							color: red
		.content-foot
			position: relative
			.right
				position: absolute
				right: 15px
				bottom: 0
	.sect-footer
		boder: 1px solid red
		height: 50px

	.right-bottom
		position: absolute
		bottom: 10px
		right: 10px

.medium-card
	margin-bottom: 10px
	.inner
		position: relative
		border-radius: 5px
		padding: 10px
		min-height: 130px
		.title
			margin-bottom: 5px
		.chosen-container
			margin-bottom: 10px
		.output-box
			padding: 5px 10px
			margin-top: 18px
			margin-bottom: 14px
	.right-bottom
		position: absolute
		bottom: 2px
		right: 2px
	.bigtext
		font-size: 2rem
		margin-top: 15px



.profile-card
	text-align: center
	@include flex-column
	margin-top: 50px
	.inner1
		width: 450px
		max-width: 100%
		background-color: #5d76c9
		color: #fff
		padding-top: 20px
		padding-bottom: 20px
		border-radius: 10px 10px 0 0
		min-height: 120px
	.inner2
		@include box-shadow-floor
		background-color: #fff
		padding-bottom: 20px
		width: 450px
		max-width: 100%
		border-radius: 0 0 10px 10px
		.title
			font-size: 1.2rem
			margin-bottom: 15px
		.text
			margin-top: 15px
			padding-bottom: 20px
			.data
				background-color: $other
				color: #fff
				border-radius: 40px
				padding: 2px 10px
				white-space: nowrap
				
		.avatar
			margin-top: -80px
			margin-bottom: 20px
	img
		border-radius: 50%
		width: 200px
		height: 200px
		max-width: 100%
		@include transition(0.2s)
		&:hover
			cursor: pointer
			filter: brightness(1.2)

.small-card-filled
	background-color: #f9f9f9
	border-radius: 5px
	padding: 10px
	margin: 10px

.card-filled
	margin-bottom: 10px
	.inner
		position: relative
		border-radius: 5px
		padding: 10px
		min-height: 130px
	.right-bottom
		position: absolute
		bottom: 2px
		right: 2px
	.bigtext
		font-size: 2rem
		margin-top: 15px

.wd-container
	background-color: #fff
	@include border-shadow(2px)
	padding: 10px 10px 20px 10px
	margin-bottom: 20px
	position: relative
	.title
		padding: 4px 6px
		padding-left: 6px
		background-color: #f5f5f5
		margin-bottom: 15px
		span
			font-size: 1rem
			font-weight: 700
	.sm-title
		hr
			margin: 0
			margin-bottom: 15px
	label
		font-weight: 400
	.closeButton
		position: absolute
		padding: 1px 8px
		width: 25px
		height: 25px
		right: -10px
		top: -10px
		background-color: #e2e2e2
		border-radius: 50%
		font-size: 0.8rem
		z-index: 999
		@include transition(0.2s)
		&:hover
			cursor: pointer

.small-box-info
	padding: 5px
	margin-top: 10px


.top-actions
	margin-bottom: 10px
//////////////////////////////////////
//                                  //
//            LISTS                 //
//                                  //
//////////////////////////////////////

.big-list
	padding-right: 10px
	margin-bottom: 10px
	.inner
		background-color: #fff
		height: 100%
		display: flex
	.image
		margin-right: 10px
		float: left
		img
			width: 100px
			height: 100%
	.content	
		padding-top: 5px
		white-space: nowrap
		overflow: hidden !important
		text-overflow: ellipsis
		padding-right: 5px
		p
			font-size: 1rem
		span.date
			font-size: 0.8rem
	hr
		border-top: 1px solid #A2A2A2
		margin-top: 5px
		margin-bottom: 5px

.input-back-red
	background-color: $cancel
	color: #fff

.input-back-blue
	background-color: $blue
	color: #fff

.input-back-green
	background-color: $greenL
	color: #fff

.input-back-grey
	background-color: $light
	color: #fff

//////////////////////////////////////
//                                  //
//            FORMS                 //
//                                  //
//////////////////////////////////////

$phvColor: #000
$phvFsize: 0.9rem

.big-form
	padding: 5px 20px
	padding-bottom: 20px
	background-color: #fff
	margin-bottom: 20px
	border: 1px solid #cacaca
	border-radius: 5px
	.inner-row
		label
			font-size: 1rem
			font-weight: 500
		.form-group
			margin-bottom: 0
		.checkbox label, .radio label
			padding-left: 0
	.header-right
		// float: right
		span.big-text
			font-size: 1.8rem
	.boxed-row
		padding: 10px
		border: 1px solid #ccc
		margin-top: 15px

	.box-container
		position: relative
		padding: 10px 20px
		margin-top: 10px
		.box-inner
			padding: 10px
	.title
		padding: 10px 20px
		font-size: 1.3rem
		font-weight: 700
		border-bottom: 2px solid #f9f9f9
	.sub-title
		.inner-sub-title
			color: $dark
			margin-top: 30px
			margin-bottom: 8px
			border-bottom: 1px solid $dark
			span
				font-size: 1rem
				font-weight: 700
			i.icon
				padding-top: 4px
				font-size: 1rem
				margin-right: 8px
				margin-left: 8px
	.multiple-items
		position: relative
		.add-another
			margin-top: 10px
			position: absolute
			bottom: -30px
			left: 0
			font-size: 1rem
	.output-data
		margin-bottom: 10px
		.output-inner
			padding: 10px 
			background-color: #fbfbfb
			margin-bottom: 10px
	.form-control
		box-shadow: none
	input,.chosen-container-single .chosen-default,.chosen-container-single .chosen-single
		// border: 1px solid #e2e2e2 !important
		font-size: 0.9rem
		color: #383838
	input.ro
		border: 0
	input.mw50
		max-width: 50px
	input.mw100
		max-width: 100px
	

.main-form
	.form-container
		@include flex-center
	.outer-wrapper
		display: table
		width: 100%
		height: 100%
	.inner-wrapper
		background-color: $light
		display: table-cell
		vertical-align: middle
		padding: 10px 25px
		.login-header
			text-align: center
			width: 100%
			padding: 15px 5px
			span
				font-size: 2rem
			.svlogo
				margin-top: 10px
				width: 100px
	.login-btn
		position: fixed
		top: 15px
		right: 15px

// --------- Narrow Form ------------ //
.narrow-form
	@include flex-column
	padding: 0
	margin-top: 20px
	.inner
		border-radius: 4px
		background-color: #fff
		margin-bottom: 20px
		@include border-shadow(1px)
		width: 450px
		max-width: 100%
		hr
			border
		.title
			padding: 5px 6px 5px 20px
			background-color: #dedede
			min-height: 50px
			@include flex-center-left
			border-radius: 5px 5px 0 0
			span
				font-size: 1.2rem
				font-weight: 500
				i
					font-size: 1.1rem
					color: $icons

			i.icon
				padding-top: 4px
				font-size: 1rem
				margin-right: 8px
				margin-left: 8px
		.sub-title
			margin-bottom: 5px
			span
				font-size: 1.1rem
				font-weight: 500
			i.icon
				padding-top: 4px
				font-size: 1rem
				margin-right: 8px
				margin-left: 8px
		.content
			padding: 20px
			.form-group label
				margin: 0
				margin-bottom: 5px
			.form-control
				height: 36px
				font-size: 1.1rem
		.output-box
			padding: 20px
			padding-top: 0
			border-radius: 0 0 5px 5px
			text-align: left
			select
				width: 100%
				height: 36px
				padding: 0 15px
		.small-loader
			padding-left: 10px
			margin-bottom: 15px


// --------- Centered Form ------------ //

.centered-form
	@include flex-center
	hr
		margin-top: 5px
		margin-bottom: 5px
	.inner
		width: 450px
		max-width: 100%
		.login-header
			padding-top: 10px
			text-align: center
			span.title
				font-size: 2rem
			span.subtitle
				font-size: .8rem
			div.formname
				margin-top: 15px
				padding: 10px
				font-size: 1.4
				background-color:  rgba(255,255,255,.9)
		padding: 10px 20px
		background-color: rgba(255,255,255,.9)
		.footer
			text-align: center
			span
				font-size: .7rem
			img
				width: 100px


.login-back
	background-color: $dark

.form-group,.form-horizontal
	form
		padding: 15px
		border: 1px solid #dcdcdc
	form,input,textarea
		width: 100%
		border: 1px solid #dcdcdc
		border-radius: 0
		box-shadow: none
		// Chrome/Opera/Safari
		::-webkit-input-placeholder 
			color: $phvColor
			font-family: $fv
			font-size: $phvFsize
			font-weight: $fvw1
		// Firefox 19+
		::-moz-placeholder
			color:  $phvColor
			font-family: $fv
			font-size: $phvFsize
			font-weight: $fvw1
		//IE 10+
		::-ms-input-placeholder
			color: $phvColor
			font-family: $fv
			font-size: $phvFsize
			font-weight: $fvw1
		//Firefox 18-
		::-moz-placeholder
			color:  $phvColor
			font-family: $fv
			font-size: $phvFsize
			font-weight: $fvw1
	textarea
		background-color: #fff
	label
		font-family: $fv
		font-weight: $fvw2
		margin-top: 10px

.form-control
	border-radius: 0

// Textaerea trumbowyg
.trumbowyg-button-pane
	background-color: #DADADA
	
.trumbowyg-button-group 
	color: #383838
	&:hover
		color: #525252
.trumbowyg-box .trumbowyg-editor
	background-color: #fff
	border: 1px solid #ccc
	&:hover
		color: #383838

.trumbowyg-box 
	margin: 5px auto !important
	border: 0

.form-control
	@include transition(0.2s)
.form-control:focus
	box-shadow: none
	border: 2px solid #4B4568

/// Multiple Select Chosen

.chosen-container-single .chosen-single
	background: #fff
	box-shadow: none
	border-radius: 0
	padding: 6px 0px 0px 15px
	height: 36px
.chosen-container-multi .chosen-choices
	background: #fff
	box-shadow: none
	border-radius: 0
	padding: 3px 5px 3px 15px
	li.search-choice
		border: 0
		background-image: none
		box-shadow: none
		background-color: #7A83CA
		color: #fff
		a
			color: #fff



/// Image File Upload Input (JQuery Filer)
.jFiler-theme-default .jFiler-input-caption,.jFiler-theme-default .jFiler-input-button
	padding-top: 5px
.jFiler-theme-default .jFiler-input
	box-shadow: none
.jFiler-items-default .jFiler-item
	background-color: #fff


/// Image thumnbail with delete icon
.actual-images
	ul 
		padding: 25px 15px 25px 15px
		li
			position: relative
			margin-right: 5px
			margin-bottom: 5px
			.overlayItemCenter
				color: #EAE9E9
				i
					font-size: 4rem
			&:hover
				.overlayItemCenter
					opacity: 1
		cursor: pointer
	img
		width: 150px
		max-width: 100%
	

.small-card
	border: 1px solid #ccc
	padding: 5px
	padding-left: 10px
	position: relative
	margin: 5px 0
	margin-top: 10px
	.btnCloseThis
		background-color: #f3f3f3
		padding: 1px 7px
		border-radius: 50%
		font-size: 0.8rem
		width: 25px
		height: 25px
		position: absolute
		right: 4px
		top: 4px
		@include transition(0.2s)
		&:hover
			cursor: pointer
	i
		color: $redH
		font-size: 1.2rem


.horiz-container
	margin-top: 10px
	margin-bottom: 10px
	.inner
		padding: 10px 
		background-color: #fbfbfb


//////////////////////////////////////
//                                  //
//            BUTTONS               //
//                                  //
//////////////////////////////////////

.btn
	// margin-bottom: 15px
	@include transition(0.2s)

.button
	border: 0
	border-radius: 4px
	padding: 7px 20px
	min-width: 120px
	font-size: 1.2rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnSm
	border: 0
	border-radius: 4px
	padding: 3px 15px
	font-size: 1rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	min-height: 27px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnBig
	font-size: 1.3rem !important

.btnSmSquare
	border: 0
	border-radius: 1px
	padding: 2px 15px
	font-size: 1rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	min-height: 27px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnSquareR
	border: 0
	border-radius: 5px
	padding: 5px 15px
	font-size: 1rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	min-height: 27px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnList
	border: 0
	padding: 5px 15px
	font-size: 1.2rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnSmall
	border: 0
	padding: 5px 10px
	font-size: 1rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 2px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnXSmall
	border: 0
	padding: 1px 10px
	font-size: 0.8rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 2px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btn-label
	position: relative
	left: -12px
	display: inline-block
	padding: 6px 12px
	background: rgba(0,0,0,0.15)
	border-radius: 3px 0 0 3px
	font-size: 1.1rem

.btn-labeled
	padding-top: 0
	padding-bottom: 0
	font-size: 1.1rem


.transBtn
	border: 0
	border-radius: 0
	padding: 0
	font-size: 1rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 0
	background-color: transparent
	&:hover
		background-color: transparent


.buttonOk, .btnGreen
	background-color: $green
	color: #fff
	&:hover
		background-color: $greenH
		color: #fff

.buttonCancel, .btnRed
	background-color: $red
	color: #fff
	&:hover
		background-color: $redH
		color: #fff

.buttonEdit, .btnYellow
	background-color: $orange
	color: #fff
	&:hover
		background-color: $orangeH
		color: #fff

.buttonOther, .btnBlue
	background-color: $blue
	color: #fff
	&:hover
		background-color: $blueH
	&:active,&:focus
		color: #fff

.btnWhite
	background-color: #fff
	color: #383838
	font-size: 1rem
	&:hover
		background-color: #f9f9f9
	&:active,&:focus
		color: #383838


.buttonGrey, .btnGrey
	background-color: #ccc
	color: #000
	&:hover
		background-color: #f9f9f9
	&:active,&:focus
		color: #000

.btnClose
	background-color: #fff
	padding: 7px 8px
	border-radius: 50%
	font-size: 0.8rem
	width: 25px
	height: 25px
	position: absolute
	right: 5px
	top: 5px
	@include transition(0.2s)
	&:hover
		cursor: pointer


.btnCloseDark
	background-color: #ccc
	padding: 1px 8px
	border-radius: 50%
	font-size: 0.8rem
	width: 25px
	height: 25px
	position: absolute
	right: 4px
	top: 4px
	@include transition(0.2s)
	&:hover
		cursor: pointer


.btnClose2
	background-color: #fff
	padding: 1px 8px
	border-radius: 50%
	font-size: 0.8rem
	width: 25px
	height: 25px
	position: absolute
	right: 5px
	top: 5px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnSquare
	border: 0
	border-radius: 4px
    padding: 2px 8px
	font-size: 1rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.close-btn
	background-color: #fff
	color: #000
	padding: 7px 8px
	border-radius: 50%
	font-size: 0.8rem
	width: 25px
	height: 25px
	position: absolute
	right: 5px
	top: 5px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.close-btn2
	background-color: #fff
	color: #000
	padding: 1px 8px
	border-radius: 50%
	border: 0
	font-size: 0.8rem
	width: 25px
	height: 25px
	position: absolute
	right: 5px
	top: 5px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.button-on-input
	border: 0
	background-color: $dark4
	color: #fff
	@include transition(0.2s)
	&:hover
		cursor: pointer
		background-color: $greenH

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
	opacity: 0

.badgebox + .badge
	/* Move the check mark away when unchecked */
	text-indent: -999999px
	/* Makes the badge's width stay the same checked and unchecked */
	width: 27px

.badgebox:focus + .badge
	/* Set something to make the badge looks focused */
	/* This really depends on the application, in my case it was: */

	/* Adding a light border */
	box-shadow: inset 0px 0px 5px
	/* Taking the difference out of the padding */

.badgebox:checked + .badge
	/* Move the check mark back when checked */
	text-indent: 0
	


//////////////////////////////////////
//                                  //
//              HEADER              //
//                                  //
//////////////////////////////////////

.header
	background-color: $dark3
	padding-bottom: 15px
	padding-top: 15px
	color: #fff
	position: relative
	span.title
		font-weight: $fvw2
		font-size: 1.2rem
	span.subtitle
		font-weight: $fvw1
	.inner
		position: relative
	.content
		@include flex-center-left
	.actions
		position: absolute
		right: 0
		top: -5px

@media (max-width: 765px)
	.header
		padding: 5px
		.content
			display: block
			.titles
				margin: 10px
			.actions
				position: relative

.main-section
	padding: 25px 5px

.overlayItemCenter
	position: absolute
	height: 100%
	width: 100%
	top: 0
	left: 0	
	@include flex-column
	@include transition(0.2s)
	background-color: rgba(0,0,0,0.5)
	opacity: 0

.header-options
	margin-bottom: 10px
	position: relative


// ------- FILTERS -------- //
	
.search-filters,.options
	position: relative
	background-color: #fff
	border: 2px solid #dedede
	border-radius: 5px
	padding: 10px
	margin-bottom: 10px
	display: none
	z-index: 990
	.navbar-form
		padding: 0
		margin: 0
	.inner-column
		display: inline-block
	label
		font-weight: 300
		margin: 0
		color: #383838
	.hide-desk
		display: none

@media (max-width: 765px)
	.search-filters
		.inner-column
			width: 100%
			.input-group
				width: 100%
				input
					margin-bottom: 10px
					width: 100%
		.hide-desk
			display: block

.search-results
	margin-bottom: 10px

// VISIBLE SEARCHER
.visible-searcher
	background-color: #f9f9f9
	.inner
		padding: 10px
		.mr
			margin-right: 5px
		.inner-box
			padding: 5px
			>div
				background-color: #eaeaea
				margin: 5px
				padding: 5px 10px 5px 20px
			input
				margin-right: 10px
				margin-left: 10px
				background-color: #f9f9f9




// Header Options




// SIDEBAR
.side-bar-container
	.side-bar
		background-color: #fff
		@include box-shadow
		padding: 10px 15px
		position: relative
		.title
			padding: 5px 10px
			background-color: #f9f9f9
			margin-bottom: 10px
		.close-this
			background-color: #fff
			color: #000
			padding: 1px 9px
			border-radius: 50%
			font-size: 0.8rem
			width: 25px
			height: 25px
			position: absolute
			right: 21px
			top: 16px
			@include transition(0.2s)
			&:hover
				cursor: pointer

@media (max-width: 911px)
	.account-container
		position: relative
	.side-bar-container
		position: absolute
		width: 100%
		height: 100%
		top: 0

.vertical-container
	padding: 5px
	.item-title
		border-top: 2px solid #ddd
		padding-top: 5px
		margin-top: 10px
	.option-buttons
		margin-bottom: 15px

.horiz-title
	border-top: 4px solid #ccc
	background-color: #f9f9f9
	padding: 5px 
	padding-left: 20px
	margin-top: 10px
	margin-bottom: 10px



//////////////////////////////////////
//                                  //
//              DECO                //
//                                  //
//////////////////////////////////////


.custom-badge
	display: inline-block
	min-width: 10px
	padding: 3px 7px
	font-size: 12px
	font-weight: 700
	line-height: 1
	color: #fff
	text-align: center
	white-space: nowrap
	vertical-align: middle
	border-radius: 10px
	margin-bottom: 5px

//////////////////////////////////////
//                                  //
//      ITEM CREATOR / Forms        //
//                                  //
//////////////////////////////////////

.short-input
	width: auto

.small-form
	margin-bottom: 25px
	.title
		background-color: $dark4
		padding: 10px
		padding-left: 20px
		color: #fff
		margin-bottom: 10px
	.inner
		@include box-shadow
		padding-bottom: 15px
		border: 1px solid #ccc
		width: 600px
		max-width: 100%
		.error-container
			margin-bottom: 15px
			.error-content
				padding: 2px 2px 2px 10px
				color: #fff
				background-color: $redH

//////////////////////////////////////
//                                  //
//        ITEM CREATOR / LIST       //
//                                  //
//////////////////////////////////////

.main-list
	border-radius: 5px
	border: 2px solid #cacaca
	.item-row
		position: relative
		background-color: #fff
		padding-left: 30px
		padding-top: 10px
		padding-bottom: 10px
		max-height: 76px
		@include transition(0.2s)
		div:first-child
			float: left
		&:nth-child(odd)
			background-color: #fbfbfb
		&:hover, .row-selected
			cursor: pointer
			background-color: #DDD
			color: #000
			img
				filter: brightness(120%)
		.img
			margin-right: 15px
			img
				width: 53px
		.withimg
			padding-left: 0
		.content
			position: relative
			.inner
				display: inline-block
				white-space: nowrap
				overflow: hidden !important
				text-overflow: ellipsis
				font-size: 1rem
			.inner-tags
				max-height: 60px
				overflow-x: hidden
			.small-text
				font-size: 0.9rem
		.lists-actions-trigger
			position: absolute
			height: 100%
			right: 30px
			top: 0
			.action-btn
				border: 0
				background-color: #8DBB61
				height: 100%
				padding: 0 20px
				i
					font-size: 1.5rem
					color: #fff
				&:hover
					background-color: #9FD56B
		.triggerwithimg
			.action-btn
				right: 0px
		.lists-actions
			position: absolute
			top: 0
			right: 0
			height: 100%
			padding: 0 20px
			@include flex-center
			background-color: $dark
			z-index: 5
			.form-group
				margin-right: 10px
			.btn
				margin: 5px
				padding: 0 10px
				font-size: 1rem
				font-family: $font2
				font-weight: $f2w1
				i
					font-size: 1.5rem
			.btn-close
				border-radius: 40px
			.form-group
				margin-bottom: 0
				.form-control
					padding: 2px 12px
			.small
				color: #C1C1C1
				font-size: 0.8rem
		.batch-delete-checkbox
			position: absolute
			padding: 5px 8px
			left: 0
			top: 0
			width: 30px
			background-color: #e8e8e8
			height: 100%
			z-index: 989
			@include flex-column
			input[type="checkbox"], input[type="radio"]
				margin: 0


.main-list
	.simple-list
		.content
			padding-left: 20px

.empty-row
	padding: 20px 15px
	background-color: #ccc

@media (max-width: 765px)
	.main-list
		.item-row
			.mobile-hide
				display: none

@media (max-width: 350px)
	.main-list .item-row
		padding: 0
		.action-btn
			height: 100%
			padding: 5px 10px
			margin-top: 0
	.lists-actions-trigger
		padding-top: 0px !important
		top: 0
		right: 18px
		height: 53px
		position: absolute

			
.batchDeleteBtn
	position: fixed
	right: 15px
	bottom: 25px
	height: 50px
	z-index: 998


.color-circle
	width: 20px
	height: 20px
	border-radius: 50%
	margin: 2px

.horizontal-btn-container
	padding-top: 0px
	
// ---------------- NEW ---------------- //
.table-list
	border-radius: 5px
	border: 2px solid #dedede
	background-color: #fff
	.table
		margin-bottom: 0
		border-radius: 5px
		tr
			height: 45px
	.table>thead
		background-color: #fff
		border-bottom: 1px solid #dedede
	.table>tbody
		background-color: #fff
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
		border: 0
		padding-top: 10px
	.list-checkbox
		background-color: #ececec
		// max-width: 10px
		width: 40px !important
		text-align: center
	.table-list-row
		&:hover
			cursor: pointer
			background-color: #dcdcdc
		.special-input
			padding: 0
			width: 150px
			.select-container
				padding: 2px
				display: inline-block
				.status
					width: 22px
					padding-top: 5px
					padding-left: 5px
					border-radius: 50%
					float: left
					i
						font-size: 1.2rem
				.status1
					color: $red
				.status2
					color: $green
				.status3
					color: $blue
				.status4
					color: $grey
				.select
					float: right
					select
						border: 0
						margin-top: 1px
						max-width: 125px
						-webkit-appearance: none
						-moz-appearance: none
						appearance: none
						option
							border: 0
							font-size: 1rem
		.list-actions
			position: relative
			padding: 0 10px
			z-index: 5
			.inner
				background-color: $dark
				position: absolute
				top: 0
				right: 0
				min-width: 200px
				text-align: center
				min-height: 45px
				padding-top: 5px
				.action-btn
					border: 0
					border-radius: 5px
					margin: 0 2px
					padding: 4px 10px
					width: 35px
					font-size: 1rem
					font-family: $font2
					font-weight: $f2w1
					i
						font-size: 1.2rem
				.btn-close
					border-radius: 50px
					margin-left: 10px
					padding: 0px 10px
					background-color: #fff
					i
						font-size: 1.2rem

@media (max-width: 765px)
	.table-list
		.list-checkbox
			padding: 5px 20px
			max-width: 53px
		.table-list-row
			.special-input
				padding-top: 1px

.small-text-table
	font-size: 0.8rem
	.title
		margin-left: 8px
		font-size: 1rem
		span
			font-size: 1rem
	.ingreso
		background-color: #fafffb
	.egreso
		background-color: #ffd2d2
	input[disabled]
		background-color: transparent
		box-shadow: none
		border: 0
	.totals-tr
		td
			border-top: 2px solid #848484
			padding: 20px 8px
			background-color: #f9f9f9
		td.background
	.delete
		text-align: right
		i
			font-size: 0.5rem
			background-color: $red
			color: #fff
			padding: 3px 5px
			border-radius: 50px
			opacity: 0
	tr
		&:hover
			cursor: pointer
			filter: brightness(0.8)
			i
				opacity: 1


.small-list-img
	max-width: 100%
	width: 33px
	margin-right: 5px

//////////////////////////////////////
//                                  //
//            DECORATION            //
//                                  //
//////////////////////////////////////


.softhr
	border-top: 1px solid #E4E4E4


.status
	margin-right: 6px
	font-size: 0.8rem
	span.text
		font-size: 1rem
	i.active
		color: #E2CF83
	i.paused
		color: red


//////////////////////////////////////
//                                  //
//           COLOR PICKER           //
//                                  //
//////////////////////////////////////

.colors-container
	position: relative
	.color-picker-list
		padding-top: 5px
		@include flex-center-left
		>div
			float: left
			margin-right: 5px
	.picked-color
		border: 0
		border-radius: 50%
		margin: 2px
		width: 40px
		height: 40px
		padding: 5px
		@include box-shadow-soft2	
	.ColorPickerLi
		margin: 2px
		width: 100px
		height: 40px
		position: relative

// ColorPicker Style
.sp-replacer
	background-color: $dark
	border: 0
	color: #fff
.sp-replacer.sp-active
	color: #fff
.sp-preview-inner
	border: 1px solid #fff
.sp-container
	border: 0
	background-color: $dark
	color: #fff
	@include box-shadow-big
.sp-cancel
	color: #fff
	&:hover
		color: #a1c1f6
.sp-choose
	border-radius: 0
	background-color: #fff


//////////////////////////////////////
//                                  //
//           PAGINATION             //
//                                  //
//////////////////////////////////////

.pagination
	padding-left: 25px
.pagination>li:first-child>a, .pagination>li:first-child>span
	border-radius: 0 !important
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover
	background-color: $dark2
	border: 0
	border-radius: 0 !important
.pagination > li > a, .pagination > li > span
	color: #383838
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover
	color: #383838

//////////////////////////////////////
//                                  //
//              ALERTS              //
//                                  //
//////////////////////////////////////

.alert-success
	color: #fff
	background-color: $greenL
	border: 0

//////////////////////////////////////
//                                  //
//        FROM JQUERY EVENTS        //
//                                  //
//////////////////////////////////////

.row-selected
	background-color: #FE9B9B !important
	color: #fff
	img
		filter: brightness(120%)
	i
		color: #000

//////////////////////////////////////
//                                  //
//            BACKGROUNDS           //
//                                  //
//////////////////////////////////////


.blue-back
	background-color: $lightBlue
	color: #fff
	span
		color: #fff

.green-back
	background-color: $greenD	
	color: #fff
	span
		color: #fff

.light-green-back
	background-color: #dae2d4
	color: #383838

.light-grey-back
	background-color: #eaeaea
.inner-grey-back
	background-color: rgb(247, 247, 247)


//////////////////////////////////////
//                                  //
//            LOADERS               //
//                                  //
//////////////////////////////////////


.main-loader
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	@include flex-column
	z-index: 9999
	overflow: hidden
	.inner
		border-radius: 10px
		width: 120px
		height: 125px
		text-align: center
		background-color: #59596c
		color: #fff
		padding: 10px
		img
			width: 80px

//////////////////////////////////////
//                                  //
//           SMALL FORMS            //
//                                  //
//////////////////////////////////////

.horiz-checkbox-input
	.inner1
		padding-top: 5px
		margin-right: 4px
		border: 1px solid #ccc
		width: 70px
		height: 34px
		float: left
	.inner2
		// float: left
		width: 78%
		
@media (max-width: 1200px)
	.horiz-checkbox-input
		.inner2
			width: 70%

@media (max-width: 765px)
	.horiz-checkbox-input
		.inner2
			width: auto
			
.horiz-double-input
	.input1
		max-width: 100px
		float: left
	.input2
		max-width: 100px
	.inner1
		width: 70px
		height: 34px
		float: left
	.inner2
		float: left
		width: 80%

@media (max-width: 1200px)
	.horiz-double-input
		.inner2
			width: 75%

@media (max-width: 765px)
	.horiz-double-input
		.inner2
			max-width: 200px

//////////////////////////////////////
//                                  //
//               FC                 //
//                                  //
//////////////////////////////////////

.fcItemRow
	position: relative
	max-width: 900px
	.deleteRow
		max-width: 20px
		opacity: 0
	&:hover
		.deleteRow
			cursor: pointer
			opacity: 1

//////////////////////////////////////
//                                  //
//             TABLE                //
//                                  //
//////////////////////////////////////


.custom-table-body
	tr>td
		border-top: 0px !important

.custom-tr
	input.ro
		border: 0
	input.mw50, .mw50
		max-width: 50px
	input.mw100
		max-width: 100px

.big-select
	font-size: 1.7rem

//////////////////////////////////////
//                                  //
//             EXPORT               //
//                                  //
//////////////////////////////////////

.export-container
	max-width: 750px
	.export-table
		padding: 20px 10px
		border: 1px solid #ccc
		font-size: 14px
		.exp-table-header
			margin-bottom: 50px
			padding-bottom: 20px
			border-bottom: 1px solid #ccc
			.title
				font-size: 15px
				font-weight: 600
			.title-desc
				font-size: 18px
			.left
				text-align: left
			.right
				float: right
				text-align: right


//////////////////////////////////////
//                                  //
//             MISC.                //
//                                  //
//////////////////////////////////////


.developer-message
	position: relative
	margin-top: 15px
	border: 2px solid #f9f9f9
	background-color: #fff
	padding: 10px
	border-radius: 10px
	.title
		font-weight: 700